<div id="menuHCRacop">
    <li class="nav-item">
    <a href="http://192.168.27.209:3645/racop/Empresas/MiEmpresa" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Mi Empresa</p></a></li>
    <li class="nav-item"><a href="http://192.168.27.209:3645/racop/Empresas/MisTramites" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Mis Trámites</p></a>
    </li>
    <li class="nav-item"><a href="http://192.168.27.209:3645/racop/Empresas/MisObras" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Mis Obras</p></a></li>
    <li class="nav-item"><a href="http://192.168.27.209:3645/racop/Empresas/Contacto" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Contacto</p></a></li>
    
    <li class="nav-item menu-open">
        <a href="#" class="nav-link active">
        <i class="far fa-circle nav-icon"></i>
        <p>Licitaciones</p></a>
    </li>
</div>

