<title>Listado Licitaciones</title>

<!-- Select2 -->
<link rel="stylesheet" href="~/AdminLte/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/AdminLte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
@{
    ViewBag.Title = "Index";
    var idObras = Session["idObras"];
    var arbolActivado = Session["chatBotActiveOficina"];
}
<style>
    .dataTables_length {
        display: none !important;
    }
</style>

<div class="container-fluid" style="font-size: smaller !important;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Licitaciones</li>
    </ol>
    <div id="commentModal" class="modal modal-default" style="display: none!important;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dejá tu comentario/Sugerencia y trataremos de comunicarnos a la brevedad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" onclick="cerrarModalChatbot()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="commentText" class="form-control" placeholder="Escribe tu comentario aquí"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cerrarModalChatbot()">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="enviarComentario()">Aceptar</button>
                    <button type="button" class="btn btn-info" onclick="irTicket()">Alta de Ticket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-default" id="modal-Comentario" style="display: none!important;">
        <div class="modal-dialog">
            <div class="modal-content bg-success">
                <div class="modal-body">
                    <p>Su comentario fue registrado. Muchas gracias</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-default" id="modal-success" style="display: none!important;">
        <div class="modal-dialog">
            <div class="modal-content bg-success">
                <div class="modal-body">
                    <p>Los datos fueron guardados</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-default" id="modal-especialidad" style="display: none!important;">
        <div class="modal-dialog">
            <div class="modal-content bg-danger">
                <div class="modal-body">
                    <p>Hubo un error al guardar las especialidades</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-default" id="modal-popup-Obra" style="display: none!important; margin-top: 0%;">
        @Html.Partial("_detalleObra")
    </div>
    <div class="modal modal-default" id="modal-popup-Acta" style="display: none!important; margin-top: 0%;">
        @Html.Partial("_GenerarActa")
    </div>
    <div class="row">
        <div class="col-2 form-group">
            <label>Expediente</label>
            <input type="text"
                   class="form-control"
                   id="txtNroExpediente"
                   style="font-size: smaller !important;"
                   placeholder="Nro Expediente">
        </div>
        <div class="col-2 form-group">
            <label>Nro Obra</label>
            <input type="text"
                   class="form-control"
                   id="txtNroObra"
                   style="font-size: smaller !important;"
                   placeholder="Nro de Obra">
        </div>
        <div class="col-2 form-group">
            <label>Obra</label>
            <input type="text"
                   class="form-control"
                   id="txtNombreObra"
                   style="font-size: smaller !important;"
                   placeholder="Nombre de Obra">
        </div>
        <div class="col-2 form-group">
            <label>Publicación</label>
            <input type="date"
                   class="form-control pull-left ui-datepicker"
                   style="font-size: smaller !important;"
                   id="txtFechaPublic">
        </div>
        <div class="col-2 form-group">
            <label>Organismo</label>
            <select id="selectOrganismo"
                    class="form-control select2bs4">
            </select>
        </div>
        <div class="col-2 form-group">
            <label>Etapa</label>
            <select id="selectEtapa"
                    class="form-control select2bs4">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button type="button"
                    class="btn btn-block btn-success"
                    id="btnBuscar"
                    style="font-size:smaller !important">
                Buscar
            </button>
        </div>
        <div class="col-2">
            <button type="button"
                    class=" btn btn-block btn-primary"
                    id="btnLimpiar"
                    style="font-size:smaller !important">
                Limpiar Filtros
            </button>
        </div>
        <div class="col-2">
            <button type="button"
                    class="btn btn-block btn-secondary"
                    id="btnExportar"
                    style="font-size:smaller !important">
                Exportar
            </button>
        </div>
    </div>
    <div class="row" style="margin-top:1%;">
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info" style="background-color: #00c0ef !important; font-size: smaller !important;">
                <div class="inner">
                    <label id="qAPublicar" style="font-size:x-large!important">0</label>
                    <p style="font-size: small !important;">A publicar</p>
                </div>
                <div class="icon">
                    <i class="fas fa-clock"></i>
                </div>
                <p class="small-box-footer" onclick="filtrarEstado(5)" style="cursor: pointer;">
                    Más Info <i class="fas fa-arrow-circle-right"></i>
                </p>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success" style="background-color: #00a65a !important; font-size: smaller !important;">
                <div class="inner">
                    <label id="qPublicada" style="font-size:x-large!important">0</label>

                    <p style="font-size: small !important;">Licitación Publicada</p>
                </div>
                <div class="icon">
                    <i class="fas fa-calendar-check"></i>
                </div>
                <p class="small-box-footer" onclick="filtrarEstado(6)" style="cursor: pointer;">
                    Más Info <i class="fas fa-arrow-circle-right"></i>
                </p>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning" style="background-color: #5f2571 !important; font-size: smaller !important;">
                <div class="inner">
                    <label id="qAbierta" style="font-size: x-large !important; color: white !important;">0</label>

                    <p style="color: white !important;font-size: small !important; color: white!important;">Análisis de ofertas</p>
                </div>
                <div class="icon">
                    <i class="fas fa-layer-group"></i>
                </div>
                <p class="small-box-footer" onclick="filtrarEstado(7)" style="cursor: pointer;">
                    Más Info <i class="fas fa-arrow-circle-right"></i>
                </p>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger" style="background-color: coral !important; font-size: smaller !important;">
                <div class="inner">
                    <label id="qDesierta" style="font-size:x-large!important">0</label>

                    <p style="font-size: small !important;">Licitación Desierta</p>
                </div>
                <div class="icon">
                    <i class="fas fa-archive"></i>
                </div>
                <p class="small-box-footer" onclick="filtrarEstado(17)" style="cursor: pointer;">
                    Más Info <i class="fas fa-arrow-circle-right"></i>
                </p>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info" style="background-color: chocolate !important;">
                <div class="inner">
                    <label id="qFracasada" style="font-size:x-large!important">0</label>

                    <p style="font-size: small !important;">Licitación Fracasada</p>
                </div>
                <div class="icon">
                    <i class="fas fa-scroll"></i>
                </div>
                <p class="small-box-footer" onclick="filtrarEstado(16)" style="cursor: pointer;">
                    Más Info <i class="fas fa-arrow-circle-right"></i>
                </p>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success" style="background-color: #f39c12 !important;">
                <div class="inner">
                    <label id="qPreAdjudicada" style="font-size:x-large!important">0</label>

                    <p style="font-size: small !important;">Pre-Adjudicada</p>
                </div>
                <div class="icon">
                    <i class="fas fa-bars"></i>
                </div>
                <p class="small-box-footer" onclick="filtrarEstado(15)" style="cursor: pointer;">
                    Más Info <i class="fas fa-arrow-circle-right"></i>
                </p>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning" style="background-color: #8fbc8f !important;">
                <div class="inner">
                    <label id="qAdjudicada" style="font-size:x-large!important; color: white !important;">0</label>

                    <p style="color: white !important; font-size: small !important;">Adjudicada</p>
                </div>
                <div class="icon">
                    <i class="fas fa-pen-square"></i>
                </div>
                <p class="small-box-footer" onclick="filtrarEstado(14)" style="cursor: pointer;">
                    Más Info <i class="fas fa-arrow-circle-right"></i>
                </p>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger" style="background-color: #dd4b39 !important;">
                <div class="inner">
                    <label id="qFirmada" style="font-size:x-large!important">0</label>

                    <p style="font-size: small !important;">Contrato Firmado</p>
                </div>
                <div class="icon">
                    <i class="fas fa-signature"></i>
                </div>
                <p class="small-box-footer" onclick="filtrarEstado(8)" style="cursor: pointer;">
                    Más Info <i class="fas fa-arrow-circle-right"></i>
                </p>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="box-header with-border">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tablaObra" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Nro</th>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Expediente</th>
                                    <th class="text-center">Publicacion</th>
                                    <th class="text-center">Dependencia</th>
                                    <th class="text-center">Presupuesto Oficial</th>
                                    <th class="text-center">Etapa</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="row" id="chatBotActive" style="display:none">
    <div class="col-8">

    </div>
    <div class="col-3">
        <div id="modal-popup-mensaje" style="display: none;">
            @Html.Partial("~/Areas/Licitacion/Views/Shared/Chatbot/_Ventana.cshtml")


        </div>
    </div>
    <div class="col-1">
        <div class="d-hotline h-btn animated zoomIn faster"
             tabindex="0"
             role="button"
             data-ember-action=""
             data-ember-action-4="4">
            <div id="divCantidadConsulta" style="display:none;cursor:pointer;">
                <span class="pull-right-container" onclick="mostrarMensaje();" style="cursor:pointer;">
                    <small class="label pull-right bg-primary blink"
                           style="padding: 0.2em 0.6em 0.3em; font-size:75%; font-weight: 700;border-radius: 0.5em; background-color:crimson !important;">
                        <label id="lblLayCdad" style="width: 150px;">Respondieron a su mensaje</label>
                    </small>
                </span>
            </div>
            <div class="image page-footer" id="btnChat" onclick="mostrarMensaje();">
                <img src="/AdminLte/dist/img/robot2.png" class="img-circle elevation-2" alt="Chat" width="90">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalExportar" style="display: none!important; margin-top: 1%; margin-left: 5%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group" style="text-align:center; font-style:inherit">
                    <b>¿Qué datos desea exportar?</b>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="todosI" onclick="marcarTodos()">
                            <b>Todos</b>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="obrasEjecucionI">
                            <b>Incluir Obras en Ejecución</b>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="nombreObraI">
                            Nombre de Obra
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="expedienteI">
                            Expediente
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="publicacionI">
                            Fecha Publicación
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="fechaAperturaI">
                            Fecha Apertura
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="fechaAdjudicacionI">
                            Fecha Adjudicación
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="organismoI">
                            Organismo
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="montoI">
                            Monto
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="etapaI">
                            Etapa
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="entidadReceptoraI">
                            Entidad Receptora
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="departamentoI">
                            Departamento
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="tipoFinanciamientoI">
                            Tipo Financiamiento
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="plazoMesesI">
                            Plazo Meses
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            <input type="checkbox" id="empresasPresentadasI">
                            Empresas Presentadas
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-3">
                        <button type="button"
                                class="btn btn-block btn-success"
                                id="expoCerrar"
                                style="font-size:smaller !important">
                            Cerrar
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-block btn-secondary"
                                id="expoImprimir"
                                style="font-size:smaller !important">
                            Exportar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page specific script -->

@section Scripts
{
    <!-- Select2 -->
    <script src="~/AdminLte/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/AdminLte/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLte/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/AdminLte/plugins/datatables/jquery.dataTables.min.js"></script>
    <link href="~/Content/DataTables2/datatables.min.css" rel="stylesheet" />
    <!-- Summernote -->
    <link href="~/AdminLte/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <script src="~/AdminLte/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        buscarArbolActivo();

        function buscarArbolActivo() {
            //alert(id)
            fetch('/api/ChatBot/buscarArbolActivo', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data > 0) {
                        $('#chatBotActive').css("display", "block");
                    }
                    console.log(data)
                })
                .catch(error => console.error('Error:', error));

        }
        $('.select2').select2();
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        var idEstadoReporte = 0;

        $(window).on('load', function () {
            // Summernote
            $('#txtPopupEncabezado').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    //['style', ['bold', 'italic', 'underline', 'clear']],
                    //['font', ['strikethrough', 'superscript', 'subscript']],
                    //['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']]
                ],
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true                  // set focus to editable area after initializing summernote
            });
            //$('#txtPopupOferta1').summernote({
            //    height: 50,                 // set editor height
            //    minHeight: null,             // set minimum height of editor
            //    maxHeight: null,             // set maximum height of editor
            //});
            $('#txtPopupOferta2').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    //['style', ['bold', 'italic', 'underline', 'clear']],
                    //['font', ['strikethrough', 'superscript', 'subscript']],
                    //['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']]
                ],
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
            });
            $('#txtPopupCierre').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    //['style', ['bold', 'italic', 'underline', 'clear']],
                    //['font', ['strikethrough', 'superscript', 'subscript']],
                    //['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']]
                ],
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
            });
            $('#txtPopupCuadroResumen').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']]
                ],
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
            });
            $('#txtPopupCuadroOferta').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']]
                ],
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
            });

            setTimeout(function () {
                configurarInicio();
            }, 3000);


            function configurarInicio() {
                loadOrganismo($('#selectOrganismo'), true);
                loadEtapa($('#selectEtapa'), true);
                buscar();
                //loadDepartamentoPopup($('#selectPpDepartamento'), false);
                //loadTipoContratacionPopup($('#selectPpTipoContratacion'), false);
            };

            function loadEtapa(control, seleccionar) {
                var select = control;
                select.empty();

                if (seleccionar) {
                    select.append($('<option/>', { value: '0', text: '--Seleccione--' }));
                }

                var urltmp = "/api/Etapa/Listar";
                fetch(urltmp, { method: "GET" })
                    .catch(() => {
                        alert('Ocurrio un error');
                    })
                    .then(res => res.json())
                    .then(data => {
                        $.each(data.replay, function (index, result) {
                            select.append($('<option/>', {
                                value: result.id,
                                text: result.nombre
                            }));
                        });
                    })
            }

            function loadOrganismo(control, seleccionar) {
                var select = control;
                select.empty();

                if (seleccionar) {
                    select.append($('<option/>', { value: '0', text: '--Seleccione--' }));
                }

                var urltmp = "/api/Organismo/Listar";
                fetch(urltmp, { method: "GET" })
                    .catch(() => {
                        alert('Ocurrio un error');
                    })
                    .then(res => res.json())
                    .then(data => {
                        $.each(data.replay, function (index, result) {
                            select.append($('<option/>', {
                                value: result.id,
                                text: result.nombre
                            }));
                        });
                    })
            }
            $('#btnLimpiar').click(function () {
                limpiarFiltros();
            });
            function limpiarFiltros() {
                if ($('#idEmpresa').val() != 0) {
                    $('#txtNroExpediente').val('');
                    $('#txtNombreObra').val('');
                    $('#txtFechaPublic').val('');
                    $('#selectOrganismo').val('');
                    $('#selectEtapa').val('');
                    $('#txtNroObra').val('');
                    configurarInicio();
                    idEstadoReporte = 0;
                }
                else {
                    window.location.href = "/racop";
                }
            };
        });
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                buscar();
            }
        });

        function buscar() {
            $('#tablaObra').DataTable().destroy();

            cargarTarjeta();

            var url = "/api/Licitacion/listarObra?";
            url = url + "nroExpediente=" + $('#txtNroExpediente').val();
            url = url + "&nombreObra=" + $('#txtNombreObra').val();
            url = url + "&fechaPub=" + $('#txtFechaPublic').val();
            url = url + "&idOrganismo=" + $('#selectOrganismo').val();
            url = url + "&idEstado=" + $('#selectEtapa').val();
            url = url + "&nroObra=" + $('#txtNroObra').val();

            cargarTabla(url);
            idEstadoReporte = $('#selectEtapa').val();
        };


        function cargarTabla(url) {

            var table = $("#tablaObra").DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "language": {
                    "processing": "Procesando"
                },
                "scrollY": "500px",
                "scrollCollapse": true,
                "ajax": {
                    "url": url,
                    "type": "POST",
                    "datatype": "json"
                },
                "pageLength": 50,
                "filter": false,
                "responsivePriority": 2, //define que columna es la que se estira
                "data": null,
                "columns": [
                    {
                        "data": "idObra", "name": "Nro", "autoWidth": true,
                        render: function (data, type, row, meta) {
                            return "<div style='text-align: left;'>" + data + "</div>"
                        }
                    },
                    {
                        "data": "nombreObra", "name": "Nombre", "autoWidth": true,
                        render: function (data, type, row, meta) {
                            return "<div style='text-align: left;'>" + data + "</div>"
                        }
                    },
                    {
                        "data": "nroExpedienteString", "name": "Expediente", "autoWidth": true,
                        render: function (data, type, row, meta) {
                            return "<div style='text-align: left;'>" + data + "</div>"
                        }
                    },
                    {
                        "data": "fechaPublicacionString", "name": "Publicacion", "autoWidth": true,
                        render: function (data, type, row, meta) {
                            return "<div style='text-align: center;'>" + data + "</div>"
                        }
                    },
                    {
                        "data": "nombreOrganismoString", "name": "Organismo", "autoWidth": true,
                        render: function (data, type, row, meta) {
                            return "<div style='text-align: center;'>" + data + "</div>"
                        }
                    },
                    {
                        "data": "montoObraString", "name": "Monto", "autoWidth": true,
                        render: function (data, type, row, meta) {
                            return "<div style='text-align: center;'>" + data + "</div>"
                        }
                    },
                    {
                        "data": "nombreEtapa", "name": "Etapa", "autoWidth": true,
                        render: function (data, type, row, meta) {
                            if (row.idEtapa == 5) {
                                return "<div style='text-align: center;'><span class='badge bg-danger' style='background-color: #00c0ef!important;'>" + data + "</span></div>"
                            }
                            else {
                                if (row.idEtapa == 6) {
                                    return "<div style='text-align: center;'><span class='badge bg-danger' style='background-color: #00a65a!important;'>" + data + "</span></div>"
                                }
                                else {
                                    if (row.idEtapa == 7) {
                                        return "<div style='text-align: center;'><span class='badge bg-danger' style='background-color: #5f2571!important;'>" + data + "</span></div>"
                                    }
                                    else {
                                        if (row.idEtapa == 8) {
                                            return "<div style='text-align: center;'><span class='badge bg-danger' style='background-color: #dd4b39!important;'>" + data + "</span></div>"
                                        }
                                        else {
                                            if (row.idEtapa == 14) {
                                                return "<div style='text-align: center;'><span class='badge bg-danger' style='background-color: #8fbc8f!important;'>" + data + "</span></div>"
                                            }
                                            else {
                                                if (row.idEtapa == 15) {
                                                    return "<div style='text-align: center;'><span class='badge bg-danger' style='background-color: #f39c12!important;'>" + data + "</span></div>"
                                                }
                                                else {
                                                    if (row.idEtapa == 16) {
                                                        return "<div style='text-align: center;'><span class='badge bg-danger' style='background-color: chocolate!important;'>" + data + "</span></div>"
                                                    }
                                                    else {
                                                        return "<div style='text-align: center;'><span class='badge bg-danger' style='background-color: coral!important;'>" + data + "</span></div>"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "data": "accion", "name": "Acciones", "autoWidth": true,
                        render: function (data, type, row, meta) {
                            if (row.idEtapa != 7) {
                                return "<div style='text-align: center;'><i class='fas fa-pen' title='Editar' style='text-align: center;cursor:pointer; color: green;' onclick='cargarNroObra(" + row.idObra + ")'></i>&nbsp;&nbsp;<i class='fas fa-file-pdf' title='Descargar Ficha' style='text-align: center;cursor:pointer; color: coral;' onclick='imprimirFicha(" + row.idObra + ")'></i></div>"
                            }
                            else {
                                if (row.tieneActa == 1) {
                                    return "<div style='text-align: center;'><i class='fas fa-pen' title='Editar' style='text-align: center;cursor:pointer; color: green;' onclick='cargarNroObra(" + row.idObra + ")'></i>&nbsp;&nbsp;<i class='fas fa-file-pdf' title='Descargar Ficha' style='text-align: center;cursor:pointer; color: coral;' onclick='imprimirFicha(" + row.idObra + ")'></i></div>"
                                }
                                else {
                                    return "<div style='text-align: center;'><i class='fas fa-pen' title='Editar' style='text-align: center;cursor:pointer; color: green;' onclick='cargarNroObra(" + row.idObra + ")'></i>&nbsp;&nbsp;<i class='fas fa-file-pdf' title='Descargar Ficha' style='text-align: center;cursor:pointer; color: coral;' onclick='imprimirFicha(" + row.idObra + ")'></i>&nbsp;&nbsp;<i class='fa fa-flag-checkered' title='Generar Acta' style='text-align: center;cursor:pointer; color: #5f2571;' onclick='generarActa(" + row.idObra + ")'></i></div>"
                                }
                            }
                        }
                    },
                ],
            });
        }

        $('#btnBuscar').click(function () {
            buscar();
        });


        function cargarTarjeta() {
            var urlTarj = "/api/Licitacion/calcularTarjeta?";
            urlTarj = urlTarj + "nroExpediente=" + $('#txtNroExpediente').val();
            urlTarj = urlTarj + "&nombreObra=" + $('#txtNombreObra').val();
            urlTarj = urlTarj + "&fechaPub=" + $('#txtFechaPublic').val();
            urlTarj = urlTarj + "&idOrganismo=" + $('#selectOrganismo').val();
            urlTarj = urlTarj + "&nroObra=" + $('#txtNroObra').val();

            $.getJSON(urlTarj)
                .done(function (data) {
                    $('#qAPublicar').text(data.replay.qAPublicar);
                    $('#qPublicada').text(data.replay.qPublicada);
                    $('#qAbierta').text(data.replay.qAbierta);
                    $('#qDesierta').text(data.replay.qDesierta);
                    $('#qFracasada').text(data.replay.qFracasada);
                    $('#qPreAdjudicada').text(data.replay.qPreAdjudicada);
                    $('#qAdjudicada').text(data.replay.qAdjudicada);
                    $('#qFirmada').text(data.replay.qFirmada);

                })
                .fail(function (erro) {
                    console.log('Error al cargar las Tarjetas');
                });
        }

        function filtrarEstado(idEstado) {
            idEstadoReporte = idEstado;
            $('#tablaObra').DataTable().destroy();
            var url = "/api/Licitacion/listarObra?";
            url = url + "nroExpediente=" + $('#txtNroExpediente').val();
            url = url + "&nombreObra=" + $('#txtNombreObra').val();
            url = url + "&fechaPub=" + $('#txtFechaPublic').val();
            url = url + "&idOrganismo=" + $('#selectOrganismo').val();
            url = url + "&idEstado=" + idEstado;
            url = url + "&nroObra=" + $('#txtNroObra').val();
            cargarTabla(url);
        }

        function cargarNroObra(idObra) {
            $('#idObra').val(idObra);
            mostrarPopup(idObra);
        }

        $('#btnCerrarPopupObra').click(function () {
            $('#modal-popup-Obra').css("display", "none");
        });
        $('#btnImprimirPopupObra').click(function () {
            var idObra = $('#idObra').val();
            //var urlMasiva = 'https://buhogestion.mendoza.gov.ar/Proyect/VistaResumen?id=' + idObra;
            var urlMasiva = 'https://buhogestion.mendoza.gov.ar/Proyect/Crud?id=' + idObra;
            window.open(urlMasiva, '_blank', 'noopener, noreferrer');
        });
        $('#btnGuardarPopupObra').click(function () {

            var resultEsp = grabarEspecialidad();

            if (resultEsp == 0) {
                $('#modal-especialidad').css("display", "block");
                setTimeout(function () {
                    $('#modal-especialidad').css("display", "none");
                }, 3000);
            } else {
                grabarDatos();
                grabarFechas();
                //$('#modal-success').css("display", "block");
                //setTimeout(function () {
                //    $('#modal-success').css("display", "none");
                //}, 900);
            }


        });

        $('#btnCerrarPpReferencia').click(function () {
            $('#divPpReq1').css("display", "flex");
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq3').css("display", "none");
        });
        $('#btnCerrarPpRequisito').click(function () {
            $('#divPpReq1').css("display", "flex");
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq4').css("display", "none");
        });
        $('#btnGuardarPpReferencia').click(function () {
            grabarReferencia();
            $('#divPpReq1').css("display", "flex");
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq3').css("display", "none");
        });
        $('#btnGuardarPpRequisito').click(function () {
            grabarRequisito();
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq4').css("display", "none");
        });
        $('#selectPpReferencia').change(function () {
            cargarTablaReferenciaDisponible();
        });
        $('#selectPpSobre').change(function () {
            cargarTablaReferenciaDisponible();
            cargarTablaRequisitoObra();
        });

        $('#selectPpSobreOferta').change(function () {
            cargarTablaOferta();
        });
        $('#selectPpSobreObs').change(function () {
            cargarTablaOfertaObs();
        });
        $('#btnCerrarPopupArchivo').click(function () {
            $('#hdPopupIdArchivo').val(0);
            $('#divObsArchivo').css("display", "none");
        });
        $('#btnGuardarPopupArchivo').click(function () {
            cambiarEstadoArchivo($('#hdPopupIdArchivo').val(), $('#idPpEstadoArchivo').val());
            $('#hdPopupIdArchivo').val(0);
            $('#divObsArchivo').css("display", "none");
        });

        $('#btnNotificarActa').click(function () {
            enviarNotificacionActa();
        });

        //agregar sobres
        $('#btnCerrarPpSobre').click(function () {
            $('#divPpReq1').css("display", "flex");
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq5').css("display", "none");
        });
        $('#btnGuardarPpSobre').click(function () {
            grabarSobre();
            $('#divPpReq1').css("display", "flex");
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq5').css("display", "none");
        });
        //editar sobres
        $('#btnCerrarPpSobreEdit').click(function () {
            $('#divPpReq1').css("display", "flex");
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq6').css("display", "none");
        });
        $('#btnGuardarPpSobreEdit').click(function () {
            grabarEdicionSobre();
            $('#divPpReq1').css("display", "flex");
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq6').css("display", "none");
        });
        //eliminar sobres
        $('#btnCerrarPpSobreElim').click(function () {
            $('#divPpReq1').css("display", "flex");
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq7').css("display", "none");
        });
        $('#btnEliminarPpSobre').click(function () {
            grabarEliminarSobre();
            $('#divPpReq1').css("display", "flex");
            $('#divPpReq2').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpReq7').css("display", "none");
        });
        //agregar empresa habilitada
        $('#btnCerrarPpEmpresaHab').click(function () {
            $('#divPpOf1').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpOf2').css("display", "none");
        });
        $('#btnGuardarPpEmpresaHab').click(function () {
            grabarEmpresaHabilitada();
            $('#divPpOf1').css("display", "flex");
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpOf2').css("display", "none");
        });
        //nuevo llamado
        $('#btnCerrarPpFracasada').click(function () {
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpGrl3').css("display", "none");
            $('#divPpGrl1').css("display", "block");
            $('#divPpGrl2').css("display", "block");
        });
        $('#btnGuardarPpFracasada').click(function () {
            cambiarDatosNuevoLlamado();
            $('#divBotoneraPopupObra').css("display", "flex");
            $('#divPpGrl3').css("display", "none");
            $('#divPpGrl1').css("display", "block");
            $('#divPpGrl2').css("display", "block");
        });

        function imprimirFicha(idObra) {
            //var urlMasiva = '/api/Licitacion/ImprimirFicha?idObra=' + idObra;
            //window.location.href = urlMasiva;
            var urlMasiva = 'https://buhogestion.mendoza.gov.ar/Proyect/VistaResumen?id=' + idObra;
            window.open(urlMasiva, '_blank', 'noopener, noreferrer');
        }
        //REPORTES
        $('#expoImprimir').click(function () {
            buscarObraParaReporte();
        });
        $('#btnExportar').click(function () {
            $('#modalExportar').show();
        });
        $('#expoCerrar').click(function () {
            $('#modalExportar').hide();
            vaciarImprimir();
        });
        function marcarTodos() {
            if ($('#todosI').is(':checked') == true) {
                $("#nombreObraI").prop("checked", true);
                $('#expedienteI').prop("checked", true);
                $('#publicacionI').prop("checked", true);
                $('#organismoI').prop("checked", true);
                $('#montoI').prop("checked", true);
                $('#etapaI').prop("checked", true);

                $("#fechaAperturaI").prop("checked", true);
                $('#fechaAdjudicacionI').prop("checked", true);
                $('#entidadReceptoraI').prop("checked", true);
                $('#departamentoI').prop("checked", true);
                $('#tipoFinanciamientoI').prop("checked", true);
                $('#plazoMesesI').prop("checked", true);
                $('#empresasPresentadasI').prop("checked", true);
            } else {

                $("#nombreObraI").prop("checked", false);
                $('#expedienteI').prop("checked", false);
                $('#publicacionI').prop("checked", false);
                $('#organismoI').prop("checked", false);
                $('#montoI').prop("checked", false);
                $('#etapaI').prop("checked", false);

                $("#fechaAperturaI").prop("checked", false);
                $('#fechaAdjudicacionI').prop("checked", false);
                $('#entidadReceptoraI').prop("checked", false);
                $('#departamentoI').prop("checked", false);
                $('#tipoFinanciamientoI').prop("checked", false);
                $('#plazoMesesI').prop("checked", false);
                $('#empresasPresentadasI').prop("checked", false);

            }
        };
        function vaciarImprimir() {
            $("#nombreObraI").prop("checked", false);
            $('#expedienteI').prop("checked", false);
            $('#publicacionI').prop("checked", false);
            $('#organismoI').prop("checked", false);
            $('#montoI').prop("checked", false);
            $('#etapaI').prop("checked", false);
            $('#todosI').prop("checked", false);

            $("#fechaAperturaI").prop("checked", false);
            $('#fechaAdjudicacionI').prop("checked", false);
            $('#entidadReceptoraI').prop("checked", false);
            $('#departamentoI').prop("checked", false);
            $('#tipoFinanciamientoI').prop("checked", false);
            $('#plazoMesesI').prop("checked", false);
            $('#empresasPresentadasI').prop("checked", false);
            $('#obrasEjecucionI').prop("checked", false);

        }
        var idObraStr;
        function buscarObraParaReporte() {
            var url = "/api/Licitacion/listarLicitacionesReportes?";
            url = url + "nroExpediente=" + $('#txtNroExpediente').val();
            url = url + "&nombreObra=" + $('#txtNombreObra').val();
            url = url + "&fechaPub=" + $('#txtFechaPublic').val();
            url = url + "&idOrganismo=" + $('#selectOrganismo').val();
            url = url + "&idEstado=" + idEstadoReporte;
            url = url + "&nroObra=" + $('#txtNroObra').val();
            url = url + "&nombre=" + $('#nombreObraI').is(':checked');
            url = url + "&expediente=" + $('#expedienteI').is(':checked');
            url = url + "&publicacion=" + $('#publicacionI').is(':checked');
            url = url + "&organismo=" + $('#organismoI').is(':checked');
            url = url + "&monto=" + $('#montoI').is(':checked');
            url = url + "&etapa=" + $('#etapaI').is(':checked');
            url = url + "&fechaApertura=" + $('#fechaAperturaI').is(':checked');
            url = url + "&fechaAdjudicacion=" + $('#fechaAdjudicacionI').is(':checked');
            url = url + "&entidadReceptora=" + $('#entidadReceptoraI').is(':checked');
            url = url + "&departamento=" + $('#departamentoI').is(':checked');
            url = url + "&tipoFinanciamiento=" + $('#tipoFinanciamientoI').is(':checked');
            url = url + "&plazoMeses=" + $('#plazoMesesI').is(':checked');
            url = url + "&empresasPresentadas=" + $('#empresasPresentadasI').is(':checked');
            url = url + "&obrasEjecucion=" + $('#obrasEjecucionI').is(':checked');
            window.location.href = url;
            $('#modalExportar').hide();
            vaciarImprimir();
        }

        function generarActa(idObra) {
            buscarTieneActa(idObra);
        }
        $('#btnCerrarPopupActa').click(function () {
            $('#idObraActa').val(0);
            $('#modal-popup-Acta').css("display", "none");
        });
        $('#btnGuardarPopupActa').click(function () {
            grabarActa();
            $('#modal-popup-Acta').css("display", "none");
        });
        function buscarTieneActa(idObra) {
            var urltmp = "/api/Acta/buscarTieneActa?idObra=" + idObra;
            fetch(urltmp, { method: "GET" })
                .catch(() => {
                    alert('Ocurrio un error');
                })
                .then(res => res.json())
                .then(data => {
                    if (data == 1) {
                        /*window.location.href = '/api/Acta/DescargarArchivo?idObra=' + idObra + '&idCategoria=1';*/
                        $('#idObraActa').val(idObra);
                        editarPopupActa(idObra);
                    }
                    else {
                        $('#idObraActa').val(idObra);
                        mostrarPopupActa(idObra);
                    }
                })
        }

        $('#btnSubirActa').click(function () {
            guardarArchivoActaApertura();
        });
        $('#btnSubirActaAdjudicacion').click(function () {
            guardarArchivoActaAdjudicacion();
        });
        $('#btnSubirContrato').click(function () {
            guardarArchivoContrato();
        });
        $('#btnSubirInicio').click(function () {
            guardarArchivoActaInicio();
        });
        $('#btnSubirPliego').click(function () {
            guardarArchivoPliegos();
        });
        $('#btnSubirCircular').click(function () {
            guardarArchivoCirculares();
        });
        $('#btnSubirOtro').click(function () {
            guardarArchivoOtros();
        });
        $('#btnOfertaAbierta').click(function () {
            cambiarEtapa(7);
        });
        $('#btnLicDesierta').click(function () {
            cambiarEtapa(17);
        });
        $('#btnPublicada').click(function () {
            cambiarEtapa(6);
        });
        $('#btnLicFracasada').click(function () {
            cambiarEtapa(16);
        });
        $('#btnPreAdjudicada').click(function () {
            cambiarEtapa(15);
        });
        $('#btnAdjudicada').click(function () {
            cambiarEtapa(14);
        });
        $('#btnContratoFirmado').click(function () {
            cambiarEtapa(8);
        });
        $('#btnNuevoLlamado').click(function () {
            nuevoLlamado();
        });
        $('#btnEnObra').click(function () {
            cambiarEtapa(1);
        });
        $('#btnEtapaAnterior').click(function () {
            cambiarEtapaAnterior($('#idPpEtapa').val());
        });
        function mostrarMensaje() {
            $('#modal-popup-mensaje').css("display", "block");
            showTypingIndicator();

            var imageContainer = document.querySelector(".image");
            imageContainer.classList.add("chatImage");
        };

    </script>
}