@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Acceso denegado";
    Layout = null;


}
<head>

    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery -->
    <script src="~/AdminLte/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLte/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLte/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/AdminLte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/AdminLte/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLte/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLte/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLte/plugins/summernote/summernote-bs4.min.css">
    <link href="~/AdminLte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />


</head>
<body>
    <div class="container">
        <div>
            <div class="col-md-offset-2">
                <div class="login-panel panel panel-red">
                    <div class="panel-heading"></div>
                    <div class="panel-body" style="text-align: center;">
                        @*<i class="fa fa-ban fa-fw" style="font-size: 40px; padding-bottom: 10px;"></i>*@
                        <p class="">Ud. no tiene permitido el acceso al módulo<br /> Vuelva a ingresar.</p>
                        <img class="animation__shake" src="~/AdminLte/dist/img/logoNegro.png" alt="AdminLTELogo" height="60" width="85">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        var tipoEmpresa = localStorage.getItem('tipoEmpresa');
        debugger
        if (tipoEmpresa == 2) {
            sessionStorage.clear();
            setTimeout("location.href='https://buhogestion.mendoza.gov.ar/racop/'", 5000);

        } else {
            sessionStorage.clear();
            setTimeout("location.href='https://buhogestion.mendoza.gov.ar/'", 5000);

        }


    });


</script>
